* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100svh;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: red;
    width: 320px;
    height: 480px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 2px rgba(189, 188, 188, 0.5);
}

.card-inner {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top {
    transform: scale(2,2);
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 15px;
}

.center {
    transform: scale(4,4);
}

.bottom {
    transform: scale(2,2) rotate(0.5turn);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 25px;
    padding-left: 15px;
}    

aside > span {
    color: black;
}